.App{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(231, 231, 231);
}

.div-app{
  border: 2px solid none;
  border-radius: 10px;
  background-color: rgb(253, 253, 253);
}

.div-input{
  margin: 50px
}

.input-aut{
  width: 15vw;
  height: 3vh;
  font-size: 20px;
}

.p-aut{
  font-size: 20px;
  text-align: center;
}